{
	"plugins": [
		"@babel/syntax-dynamic-import"
	],
	"env": {
		"test": {
			"plugins": [
				"@babel/plugin-transform-modules-commonjs"
			]
		}
	},
	"presets": [
		[
			"@babel/preset-env",
			{
			"useBuiltIns": "usage",
			"corejs": 3,
			"targets": {
				"node": "18.14.1"
			}
		}
	]
	]
}
